.chat-container {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
  
  .msg_container {
    max-width: 70%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
  }
  
  .chat-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .chat-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .chat-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .chat-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
  
  .typing-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .typing-indicator div {
    background: #777;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
  
    animation: bounce 1.4s infinite ease-in-out both;
  }
  
  .typing-indicator .dot1 {
    animation-delay: -0.32s;
  }
  
  .typing-indicator .dot2 {
    animation-delay: -0.16s;
  }